<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html xmlns="http://www.w3.org/1999/xhtml" manifest="cache.appcache">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=10, user-scalable=yes">

        <title>HR Doctor</title>

        <?php 
            echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon2.ico'));
        ?>

        <script type="text/javascript">
            var Ext = Ext || {}; // Ext namespace won't be defined yet...

            // This function is called by the Microloader after it has performed basic
            // device detection. The results are provided in the "tags" object. You can
            // use these tags here or even add custom tags. These can be used by platform
            // filters in your manifest or by platformConfig expressions in your app.
            //
            Ext.beforeLoad = function (tags) {
                var s = location.search,  // the query string (ex "?foo=1&bar")
                    profile;

                // For testing look for "?classic" or "?modern" in the URL to override
                // device detection default.
                //
                if (s.match(/\bclassic\b/)) {
                    profile = 'classic';
                }
                else if (s.match(/\bmodern\b/)) {
                    profile = 'modern';
                }
                else {
                    profile = tags.desktop ? 'classic' : 'modern';
                    //profile = tags.phone ? 'modern' : 'classic';
                }

                Ext.manifest = profile; // this name must match a build profile name

                // This function is called once the manifest is available but before
                // any data is pulled from it.
                //
                //return function (manifest) {
                    // peek at / modify the manifest object
                //};
            };
        </script>

        <style>

            #loading-parent
            {
              position: absolute;
              z-index:  20001;
              width: 98%;
              color: white;
              top : 50%;
            }

            #loading-child img {
                width: 160px !important;
                height: 26px !important;
            }
        </style>
        
    </head>
    <body>
        <!-- "Loading" Splash Screen -->
        <div id="loading-parent">
            <div id="loading-child" class="loading-indicator">
                <center>
                    <img height="50" alt="Spinner" src="splash/square_loader.gif" />
                    <br /><br />
                    <h1>Loading White Label...</h1>
                </center>
            </div>
        </div>

        <!-- generate key -->
        <!-- <?php echo base64_encode(openssl_random_pseudo_bytes(64)); ?> -->
    	<?php echo $this->content; ?>
        
    </body>
</html>
